.container-fluid {
  background-image: url('bg-cv.jpg');
  background-size: cover;
  background-position: center;
  height: 180px;
}
.container-fluid img {
  position: absolute;
  margin-left: 25%;
  width: 240px;
}

.green {
  color: #519839;
}

.blue {
  color: #0077AA;
}

.orange {
  color: #FF8C00;
}

.titles {
  margin-top: 10%;
}

.underline {
  text-decoration: underline;
}

.ikigai-picture {
  width: 60%;
}
