.container-fluid {
  background-image: url('bg-cv.jpg');
  background-size: cover;
  background-position: center;
  height: 350px;
}

.container-fluid img {
  max-width: 1000%;
  height: 150%;
  margin: auto;
  padding-bottom: 5%;
}

.btn {
  margin-left: 20%;
  margin-right: 20%;
}
.green {
  color: #519839;
}

.blue {
  color: #0077AA;
}

.orange {
  color: #FF8C00;
}

.titles {
  margin-top: 10%;
}

.underline {
  text-decoration: underline;
}

.ikigai-picture {
  width: 60%;
}

#contact {
  background-color: #B0C4DE;
  padding-bottom: 2%;
}
@media screen and (min-width: 1200px) {
  .container-fluid img {
    height: 175%;
  }
}
